<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h2>Hello <%= user1 %> from EJS </h2>
    <!-- <form action="/form/submit" method="POST"> -->
    <form action="/todo/remove" method="POST">
    <input name='data' placeholder="Enter Your First Name"/>
    <button>Submit</button>
    </form>
</body>
</html>